--- 
layout: default 
title:
description: Sharing about Application Development, Integration, Cloud, Big Data and Digital Transformation 
comments: true 
---
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86HNEGBVEL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-86HNEGBVEL');
</script>
<div>
	<p> <a href="https://zack7891.github.io/ForestFires-Visual-Analysis/">Brazil Forest Fires in R</a> 
	</p>
	<p> <a href="http://3.218.150.43">HomeInvestor DApp</a> 
	</p>
	<p> <a href="Pages\gis.html">Geographic information system</a> 
	</p>
</div>
<!-- Pagination links -->
<div class="container" >
{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" >
	Previous
	</a>
{% else %}
	<span>Previous</span>
{% endif %}
| <span class="page_number ">
	Page: {{ paginator.page }} of {{ paginator.total_pages }}
</span> | 
{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" >Next</a>
{% else %}
	<span >Next</span>
{% endif %}
<div >
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" >
		Previous
		</a>
	{% else %}
		<span>Previous</span>
	{% endif %}
	| <span class="page_number ">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
	</span> | 
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" >Next</a>
	{% else %}
		<span >Next</span>
	{% endif %}
</div>
