--- 
layout: default 
title:
description: Sharing about Application Development, Integration, Cloud, Big Data and Digital Transformation 
comments: true 
---
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86HNEGBVEL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-86HNEGBVEL');
</script>
<div>
	<h3>Hello, my name is Zachary Baker, and this is my website for all of my ongoing projects. I like to dive into all kinds of topics, but I mostly do data analysis, work with Blockchain and GIS data. I am also a recent graduate from USF with a BA in Economics. I want to use my skills within the financial sector or energy sector. </h3> <p> As a veteran I believe in helping my community the best I can and that is my main mission.</p>
</div>
<div>
	<ul>
		<p> <a href="https://zack7891.github.io/ForestFires-Visual-Analysis/">Brazil Forest Fires in R</a> 
		</p>
		<p> <a href="http://3.218.150.43">HomeInvestor DApp</a> 
		</p>
		<p> <a href="Pages/gis.html">Geographic information system</a> 
		</p>
		<p> <a href="https://zacharyforyou.school.blog/">Advanced Statistics & Analytics</a> 
		</p>	
		<p> <a href="https://zack7891.github.io/FEC_Analysis/">Finanical Election Contributions Simple Analysis</a> 
		</p>
		<p> <a href="https://app.powerbi.com/reportEmbed?reportId=be4c5596-503a-4d6d-8228-5bcf7d36d1cc&autoAuth=true&ctid=f1d1c77c-e09d-4111-9912-05b38e77641e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWVhc3QtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9">Data Demo in PowerBI</a>
		</p>
	</ul>
</div>
<!-- Pagination links -->
<div class="container" >
{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" >
	Previous
	</a>
{% else %}
	<span>Previous</span>
{% endif %}
| <span class="page_number ">
	Page: {{ paginator.page }} of {{ paginator.total_pages }}
</span> | 
{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" >Next</a>
{% else %}
	<span >Next</span>
{% endif %}
</div>

